<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ProjectPath" value="C:\fluency\Authentication" />
		<add key="IgnoredDirectories" value="objects,.git,obj,hooks,info,logs,ref,.vs,bin" />
		<add key="LogOutputPath" value="C:\fluency" />
	</appSettings>
</configuration>